*:not(.timing-range::-webkit-slider-thumb){
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

::-webkit-media-controls {
    display:none !important;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.video{
    background-color: black;
    position: fixed;
    cursor: pointer;
}

.play{
    pointer-events: none;
    position: fixed;
    background-size: cover;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 15;
    width: 5%;
    aspect-ratio: 1;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 16;
    background-color: rgba(98, 97, 97, 0.7);
    margin: 0px 7.5px 10px 7.5px;
    align-self: flex-end;
    width: calc(60% + 50px);
    height: 30px;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    transition: opacity 0.3s ease;
}

.time{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
}

.timing-button{
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    border: 4px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.timing-range{
  border-radius: 10px;
  appearance: none;
  width: calc(100% - 200px);
  height: 3px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  outline: none;
}

.timing-range::-webkit-slider-thumb, .timing-range-fullscreen::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17.5px;
    height: 17.5px;
    border: 4px solid black;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.fullscreen-main{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.fullscreen-video{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.fullscreen-bottom{
    display: flex;
    position: fixed;
    bottom: 10px;
    align-items: center;
    z-index: 15;
    background-color: rgba(98, 97, 97, 0.7);
    justify-self: center;
    height: 40px;
    border-radius: 10px;
    width: calc(60% + 100px);
    left: 50%;
    transform: translate(-50%);
    transition: all 0.3s ease;
}

.timing-range-fullscreen{
    border-radius: 20px;
    appearance: none;
    width: calc(100% - 200px);
    height: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    outline: none;
}

.play-fullscreen{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-size: cover;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 15;
    width: 5%;
    aspect-ratio: 1;
    cursor: pointer;
    transition: all 0.3s ease;
}

.fullscreen-button{
    display: flex;
    justify-self: flex-end;
    width: 25px;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

.sound{
    padding: 5px;
    display: flex;
    align-items: center;
}

.sound-button{
    width: 30px;
    aspect-ratio: 1;
    cursor: pointer;
}

.frame{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 0px;
    height: 22.5px;
    border-radius: 10px;
    background-color: rgba(98, 97, 97, 0.7);
    transition: width 0.3s ease;
    padding: 0px 3px 0px 3px;
}

.sound-range{
    opacity: 1;
    appearance: none;
    width: calc(100% - 10px);
    height: 3px;
    outline: none;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.sound-range::-webkit-slider-thumb, .sound-range-fullscreen::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17.5px;
    height: 17.5px;
    border-radius: 50%;
    border: 4px solid black;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}


.sound-button:hover + .frame{
    opacity: 1;
    width: 150px;
}

.frame:hover{
    opacity: 1;
    width: 150px;
}

.top{
    display: flex;
    position: absolute;
    justify-content: space-between ;
    margin: 10px 0px 0px 0px;
    padding: 0px 7.5px 0px 7.5px;
    z-index: 16;
    background-color: transparent;
    align-self: flex-start;
    height: 30px;
    transition: opacity 0.3s ease;
}

.speed{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.speed-button{
    font-weight: bolder;
    width: 40px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin: 6.5px 3px 6.5px 3px;
}

.right-top{
    display: flex;
}

.skip-button{
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
    cursor: pointer;
}

.skip-fullscreen{
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
    cursor: pointer;
    margin: 0px 10px 0px 10px;
}

#backward{
    margin-left: 10px;
}